version: '3.4'
services:

  pluxml:
    image:
      src386/docker-pluxml:5.8
    build:
      context: .
      args:
        - pluxml__version=5.8.4
    ports:
      - "127.0.0.1:80:80"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - data:/var/www/html/data
#    environment:
#      - PHP_TIMEZONE=Europe/Paris
#      - PHP_UPLOAD_MAXSIZE=8M
#      - PHP_SMTP_HOST=1.2.3.4
#      - PHP_SMTP_PORT=25
#      - PHP_SMTP_USER=john
#      - PHP_SMTP_PASSWORD=secret
#      - PHP_SMTP_USE_TLS=yes
#      - ENABLE_REMOTEIP=true
volumes:
  data:
